@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

body{
    background-color: #222;
}

#jogo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#jogo:hover{
    cursor: none;
}

#info{
    background-image: url('./img/galaxy.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info-on{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-off{
    display: none;
}

#title, #title2{
    color: #fff;
    font-size: 60pt;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 35px;
}

#title2{
    margin-top: 22px;
}

#start, #restart{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20pt;
    letter-spacing: 2px;
    width: 100px;
    border-radius: 20px;
    background: #ca0000;
}

#restart{
    width: 120px;
    margin-bottom: 30px;
}

#start:hover, #restart:hover{
    cursor: pointer;
    background: #a10000;
}

#naveImg{
    margin-top: 40px;
    width: 250px;
}

#naveImgRestart{
    margin-top: 30px;
    width: 200px;
}

#myInfo, .points{
    color: #fff;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 15pt;
    letter-spacing: 1px;
    margin-top: 40px;
}

.points{
    line-height: 0;
    font-size: 20pt;
    margin: 18px;
}